<ion-header>
  <ion-toolbar>
    <ion-title>Study Sets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let set of sets">    
      <ion-button (click)="openStudySet(set.id)" color="secondary">
        {{set.name}}
      </ion-button>
    </ion-item>
  </ion-list>
  <form #addStudySetForm="ngForm" (ngSubmit)="addStudySet(addStudySetForm)">
    <ion-card>
      <ion-item>
        <ion-input name="newstudyset" placeholder="Name" ngModel required>
        </ion-input>
      </ion-item>
      <ion-button size="small" type="submit" [disabled]="addStudySetForm.invalid">
        Add Study Set
      </ion-button>
    </ion-card>
    </form>
</ion-content>
